<div class="row">
  <div  class="col-md-6">
    <form ng-submit='lC.login()' name='userForm'>
      <p>Please enter a username:</p>
      <div class="form-group">
        <span class='errors'>{{lC.errors.name.message}}</span>
        <span class='errors'>{{lC.errors.session.message}}</span>
        <input class="form-control" type="text" name="name" ng-model='lC.user.name' pattern='^\w+$' minlength='3' required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div ng-messages='userForm.name.$error' class='errors'>
      <p ng-message='minlength'>The user name is too short</p>
      <p ng-message='required'>User name is required</p>
      <p ng-message='pattern'>Invalid name</p>
    </div>
  </div>
</div>